In [1]:
import os
import pandas as pd
import numpy as np
import ast
import sklearn

In [2]:
os.chdir("E:\Data Science Project\Movie Recommendation System with sentiment analysis-Project 3")

In [3]:
meta = pd.read_csv("movies_metadata.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
meta.shape

(45466, 24)

In [6]:
meta["release_date"] = pd.to_datetime(meta["release_date"], errors="coerce")

In [7]:
meta["year"]=meta["release_date"].dt.year

In [8]:
meta["year"].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [9]:
# Here we have data for 2017 so will extract the data for the year from movies_metadata file. And for the data 2017 onwards will 
# extract from some other source

In [10]:
credit_data = pd.read_csv("credits.csv")

In [11]:
credit_data.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [12]:
new_meta = meta.loc[meta.year==2017,["genres","id","title","year"]]

In [13]:
new_meta.head()

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0

In [14]:
new_meta["id"] = new_meta["id"].astype(int)

In [15]:
new_meta["id"].dtype

dtype('int32')

In [16]:
data = pd.merge(new_meta, credit_data , on = "id")

In [17]:
data.head()

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."

In [18]:
pd.set_option('display.max_colwidth',500)

In [19]:
data.head()

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 14, 'name': 'Fantasy'}, {'id': 35, 'name': 'Comedy'}]",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe4c9cc3a36847f8236a53', 'gender': 2, 'id': 85, 'name': 'Johnny Depp', 'order': 0, 'profile_path': '/kbWValANhZI8rbWZXximXuMN4UN.jpg'}, {'cast_id': 9, 'character': 'Captain Armando Salazar', 'credit_id': '54db4949c3a368122d0017fe', 'gender': 2, 'id': 3810, 'name': 'Javier Bardem', 'order': 1, 'profile_path': '/grBOK7Ep09JBE3H5LyV5JaZZ1XZ.jpg'}, {'cast_id': 16, 'character': 'Captain Hector Barbossa', 'credit_id': '54e44e5ec3...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', 'gender': 2, 'id': 770, 'job': 'Producer', 'name': 'Jerry Bruckheimer', 'profile_path': '/lQu9eRzRX264j2LFQwvKC50wb9s.jpg'}, {'credit_id': '592f443cc3a3685cf7000019', 'department': 'Writing', 'gender': 2, 'id': 1705, 'job': 'Characters', 'name': 'Ted Elliott', 'profile_path': '/9OXGC59dpVDdfwSeEdHgxpoHXVu.jpg'}, {'credit_id': '591298d6c3a36864fc04d1a4', 'department': 'Production', 'gender': 2, 'id': 1706, 'job': 'Executiv..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e68db0e0a264fe10065f5', 'gender': 2, 'id': 880, 'name': 'Ben Affleck', 'order': 0, 'profile_path': '/cPuPt6mYJ83DjvO3hbjNGug6Fbi.jpg'}, {'cast_id': 1, 'character': 'Clark Kent / Superman', 'credit_id': '535e68ce0e0a264fe5006939', 'gender': 2, 'id': 73968, 'name': 'Henry Cavill', 'order': 1, 'profile_path': '/h8bn6ybR5Hu58UGJGwb66nrOagV.jpg'}, {'cast_id': 3, 'character': 'Diana Prince / Wonder Woman', 'credit_id': '535e68fb...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', 'gender': 0, 'id': 282, 'job': 'Producer', 'name': 'Charles Roven', 'profile_path': '/4uJLoVstC1CBcArXFOe53N2fDr1.jpg'}, {'credit_id': '594287cfc3a3686c2c00bc9f', 'department': 'Sound', 'gender': 2, 'id': 531, 'job': 'Music', 'name': 'Danny Elfman', 'profile_path': '/pWacZpYPos8io22nEiim7d3wp2j.jpg'}, {'credit_id': '58cf4361c3a36850f302b9ce', 'department': 'Production', 'gender': 2, 'id': 880, 'job': 'Executive Producer',..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a261fb3004e81', 'gender': 2, 'id': 74568, 'name': 'Chris Hemsworth', 'order': 0, 'profile_path': '/tlkDiLn2G75Xr7m1ybK8QFzZBso.jpg'}, {'cast_id': 1, 'character': 'Loki', 'credit_id': '545d46c7c3a3686cbb00002d', 'gender': 2, 'id': 91606, 'name': 'Tom Hiddleston', 'order': 1, 'profile_path': '/qB1lHPFBPIzw6I7EvsciZ5wyUNS.jpg'}, {'cast_id': 11, 'character': 'Hela / Halja', 'credit_id': '570bf50e92514179e6000026', 'gender': 1,...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'gender': 2, 'id': 105643, 'job': 'Storyboard', 'name': 'Jay Oliva', 'profile_path': '/y7EbnuoKFMvU7uZ4aD50jThyNoF.jpg'}, {'credit_id': '551b780b9251414ae6001b7c', 'department': 'Writing', 'gender': 2, 'id': 87173, 'job': 'Writer', 'name': 'Craig Kyle', 'profile_path': '/p9Zhlbr2ywEwr4WjM5sErqeAgBh.jpg'}, {'credit_id': '551b7815c3a3687669001d83', 'department': 'Writing', 'gender': 2, 'id': 109542, 'job': 'Writer', 'name': 'C..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 35, 'name': 'Comedy'}, {'id': 878, 'name': 'Science Fiction'}]",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '53dd76ba0e0a265a930008e7', 'gender': 2, 'id': 73457, 'name': 'Chris Pratt', 'order': 0, 'profile_path': '/n4DD1AYU7WEMNPLga1TxqnHivn1.jpg'}, {'cast_id': 4, 'character': 'Gamora', 'credit_id': '5526165c92514171b4001031', 'gender': 1, 'id': 8691, 'name': 'Zoe Saldana', 'order': 1, 'profile_path': '/ofNrWiA2KDdqiNxFTLp51HcXUlp.jpg'}, {'cast_id': 5, 'character': 'Drax the Destroyer', 'credit_id': '5526167ec3a36857ae0012fd', 'g...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gender': 0, 'id': 1408316, 'job': 'ADR Supervisor', 'name': 'Lisa J. Levine', 'profile_path': None}, {'credit_id': '591715919251415852032523', 'department': 'Sound', 'gender': 0, 'id': 1815944, 'job': 'Boom Operator', 'name': 'Jason C. Lewis', 'profile_path': None}, {'credit_id': '59171698c3a368371b022f3a', 'department': 'Sound', 'gender': 0, 'id': 1327030, 'job': 'Sound Re-Recording Mixer', 'name': 'Lora Hirschberg', 'profil..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}]",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e0a265694002d09', 'gender': 2, 'id': 517, 'name': 'Pierce Brosnan', 'order': 1, 'profile_path': '/1JXL0zrA26JjdoX8sqf57fJRDVM.jpg'}, {'cast_id': 1, 'character': 'Pere La Chaise', 'credit_id': '5431dd610e0a265872002b4b', 'gender': 2, 'id': 227, 'name': 'William Hurt', 'order': 2, 'profile_path': '/mf5GiYZjURQ72CPtY1kBva7mqIK.jpg'}, {'cast_id': 2, 'character': 'Yves De La Croix', 'credit_id': '5431dd6f0e0a264643004276', 'gen...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', 'gender': 2, 'id': 129952, 'job': 'Director', 'name': 'Sean McNamara', 'profile_path': '/cJqKChoJhnyCdtkMCRo69fofxgD.jpg'}, {'credit_id': '5431de54c3a36811ef002c26', 'department': 'Writing', 'gender': 0, 'id': 5144, 'job': 'Writer', 'name': 'Ronald Bass', 'profile_path': None}, {'credit_id': '5431de5e0e0a2646430042ba', 'department': 'Writing', 'gender': 2, 'id': 174330, 'job': 'Writer', 'name': 'Barry Berman', 'profile_pat..."

In [20]:
# Since we have the data in genres, cast and crew variables as key-value pairs hence we convert them in the form of list using "literal_eval" property
# of "ast" library

data["genres"]=data["genres"].map(lambda x : ast.literal_eval(x))
data["cast"]=data["cast"].map(lambda x : ast.literal_eval(x))
data["crew"]=data["crew"].map(lambda x : ast.literal_eval(x))

In [21]:
data["genres"].dtype

dtype('O')

In [22]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name')=="Science Fiction" :
            scifi = "Sci-Fi"
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [23]:
data["genres_list"]=data["genres"].map(lambda x : make_genresList(x))

In [24]:
data["genres_list"]

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

In [25]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
        if casts == []:
            return np.NaN
        else:
            return (casts[0])

In [26]:
data["actor_1_name"]=data["cast"].map(lambda x : get_actor1(x))

In [27]:
data["actor_1_name"]

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka HaapamÃ¤ki
527    Lou Diamond Phillips
528                    None
529          Sridevi Kapoor
530                    None
Name: actor_1_name, Length: 531, dtype: object

In [28]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
            return np.NaN
    else:
            return (casts[1])

In [29]:
data["actor_2_name"]=data["cast"].map(lambda x : get_actor2(x))

In [30]:
data["actor_2_name"]

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object

In [31]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
            return np.NaN
    else:
            return (casts[2])

In [32]:
data["actor_3_name"]=data["cast"].map(lambda x : get_actor3(x))

In [33]:
data["actor_3_name"]

0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
526     Tiitus Rantala
527        Gina Holden
528                NaN
529     Akshaye Khanna
530                NaN
Name: actor_3_name, Length: 531, dtype: object

In [34]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == "Director":
           dt.append(i.get('name'))
    if dt == []: 
            return np.NaN
    else:
            return (st.join(dt))

In [35]:
data["director_name"]=data["crew"].map(lambda x : get_directors(x))

In [36]:
data["director_name"]

0      Joachim RÃ¸nning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
526                  Hannaleena Hauru
527             Jonathan A. Rosenbaum
528          Beth David Esteban Bravo
529                      Ravi Udyawar
530                     Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [37]:
data.columns

Index(['genres', 'id', 'title', 'year', 'cast', 'crew', 'genres_list',
       'actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name'],
      dtype='object')

In [38]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [39]:
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
0,Joachim RÃ¸nning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter

In [40]:
movie.isna().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres_list       7
title             0
dtype: int64

In [41]:
movie = movie.dropna(how="any")

In [42]:
movie = movie.rename(columns ={'genres_list':'genres'})
movie = movie.rename(columns ={'title':'movie_title'})

In [43]:
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Joachim RÃ¸nning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter

In [44]:
movie['movie_title']= movie['movie_title'].str.lower()

In [45]:
movie["comb"] = movie['actor_1_name']+ " " + movie['actor_2_name']+ " "+ movie['actor_3_name']+ " " +  movie['director_name']+ " " +  movie['genres']

In [46]:
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Joachim RÃ¸nning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales,Johnny Depp Javier Bardem Geoffrey Rush Joachim RÃ¸nning Espen Sandberg Adventure Action Fantasy Comedy
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,justice league,Ben Affleck Henry Cavill Gal Gadot Zack Snyder Action Adventure Fantasy Sci-Fi
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,thor: ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett Taika Waititi Action Adventure Fantasy Sci-Fi
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gunn Action Adventure Comedy Sci-Fi
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,the king's daughter,Pierce Brosnan William Hurt Benjamin Walker Sean McNamara Fantasy Action Adventure

In [47]:
old = pd.read_csv("data.csv")

In [48]:
old

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens
...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,Comedy|Drama,signed sealed delivered
5039,Unknown,Natalie Zea,Valorie Curry,Sam Underwood,Crime|Drama|Mystery|Thriller,the following
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,Drama|Horror|Thriller,a plague so pleasant
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy|Drama|Romance,shanghai calling
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Documentary,my date with drew

In [49]:
old["comb"] = old['actor_1_name']+ " " + old['actor_2_name']+ " "+ old['actor_3_name']+ " " +  old['director_name']+ " " +  old['genres']

In [50]:
old

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action|Adventure|Fantasy|Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action|Adventure|Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action|Adventure|Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action|Thriller
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker Unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,Comedy|Drama,signed sealed delivered,Eric Mabius Daphne Zuniga Crystal Lowe Scott Smith Comedy|Drama
5039,Unknown,Natalie Zea,Valorie Curry,Sam Underwood,Crime|Drama|Mystery|Thriller,the following,Natalie Zea Valorie Curry Sam Underwood Unknown Crime|Drama|Mystery|Thriller
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,Drama|Horror|Thriller,a plague so pleasant,Eva Boehnke Maxwell Moody David Chandler Benjamin Roberds Drama|Horror|Thriller
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy|Drama|Romance,shanghai calling,Alan Ruck Daniel Henney Eliza Coupe Daniel Hsia Comedy|Drama|Romance
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Documentary,my date with drew,John August Brian Herzlinger Jon Gunn Jon Gunn Documentary

In [51]:
before_2018 = old.append(movie)

In [52]:
before_2018

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action|Adventure|Fantasy|Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action|Adventure|Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action|Adventure|Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action|Thriller
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker Unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mÃ¤ntyvaara,Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Comedy
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Crime Comedy Action Family
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [53]:
before_2018.drop_duplicates(subset = 'movie_title', keep = 'last', inplace = True)

In [54]:
before_2018

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action|Adventure|Fantasy|Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action|Adventure|Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action|Adventure|Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action|Thriller
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker Unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mÃ¤ntyvaara,Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Comedy
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Crime Comedy Action Family
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [56]:
before_2018.to_csv("before_2018-data.csv", index=False)